*

!README.md
!requirements.txt
!notebooks/
!notebooks/**/*.ipynb
!outputs/
!outputs/resnet_unet_best.keras  

data/

*.h5

__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.json
*.csv

.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/

env/
venv/
ENV/
.venv/